.recommended-tile{
} 
.cardImg{
   img{
      
      position:sticky;
      border: 2px;
      margin: 5px 10px;
      width: 45vh;
      border-radius: 10px;
      border-style: solid;
      border-color: rgb(123, 126, 129);
      image-rendering: pixelated;
      &:hover{
         border: 3px solid rgba(249, 249, 249, 0.8);
         transition-duration: 500ms;
         width: 46vh;
      }
      @media (max-width:650px) {
        width: 25vh;
        
        &:hover{
         border: 3px solid rgba(249, 249, 249, 0.8);
         transition-duration: 500ms;
         width: 28vh;
      }
      }
   }
   
}
.link{
   margin: 0px;
   padding: 0px;
   box-shadow: none;
}