.detailContainer{
    
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    .BackgroundImg{
        opacity: 0.8;
        margin-top: 70px;
        width: 100%;
        position: fixed;
        z-index: -1;
        image-rendering: pixelated;

        @media (max-width:950px) {
            position: absolute;
        }
    }

    .titleImage{
        margin: 20px;
        margin-top: 80px;
        width: 35vw;
        image-rendering: pixelated;
    }

}

.movieContext{ 
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 20px;
    p{
        font-size: 15px;
        text-align: justify;
        color: rgb(252, 248, 248);
    }
    .buttons{
        
        button{border-color: white;
        color: white;
        border-style: solid;
        background-color: transparent;
        margin:0px 25px 0px 0px;
        height: 5vh;
        border-radius: 5px;}
        
        .trailer{
            background-color: rgb(255, 255, 255);
            color: rgb(11, 11, 11);
        }
        
        button{
            cursor: pointer;
        }
    }
    
    @media (max-width:950px) {
        max-width: 90vw;
        margin-top: 32%;
       
    }
}


