.slider-container{
    width: 80vw;
    margin-top: 70px;
    
    a {

      
      cursor: pointer;
      display: block;
      position: static;      
     

      img {
        width: 98%;
        border-radius: 10px;
        image-rendering: pixelated;
        border: 2px solid rgba(113, 111, 111, 0.8);
        
          &:hover {
          border: solid rgba(249, 249, 249, 0.8);
          transition-duration: 500ms;
        }
      }
  
      
    }
}

.slick-dots li {
  margin: 0 0px; /* Adjust the margin between dots as needed */
}
  /* Assuming you have a CSS file where you want to style the dots */
  .slick-list {
    overflow: initial;
  }

  .slick-prev {
    left: -200px;
  }

  .slick-next {
    right: -200px;
  }

  
    